[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tmdbv3api = "*"
arrapi = "*"
lxml = "*"
requests = "*"
"ruamel.yaml" = "*"
schedule = "*"
retrying = "*"
pathvalidate = "*"
PlexAPI = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.10.1"
